* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
  --color-primary: #747475;
  --color-secondary: #353535;
  --color-tertiary: #494949;
  --color-accent: #0077D7;
  --color-font: #FFFFFF;
  --color-inactive-font: #A5A5A5;
}

body {
  background: #202020;
  padding: 20px 4px 4px 4px;
  width: 100vw;
  height: 100vh;
}

.btn {
  background-color: var(--color-primary);
  height: 600px;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.btn:active {
  background-color: var(--color-tertiary);
}

#display {
  width: 100%;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: right;
  height: 5rem;
  & #display-expression {
    color: grey;
    font-weight: 400;
    font-size: 1rem;
    min-height: 1.1rem;
  }
  & #display-input-result {
    font-weight: bold;
  }
}

#calculator {
  display: flex;
  width: 100%;
  height: 100%;
  & #main {
    width: 80%;
    height: 100%;
  }
}

#keyboard-standart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: calc(100% - 5rem);
  gap: 2px;
  justify-items: stretch;
  align-items: stretch;
  & .btn {
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
  }
}

#hist-mem {
  width: 20rem;
}

#hist-mem-content {
  text-align: right;
}

#hist-mem-title {
  display: flex;
  & * {
    margin: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.hist-mem-item:hover {
  background-color: var(--color-secondary);
}

.arithmetic:hover {
    background-color: var(--color-accent);
} 