* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #202020;
    padding: 20px 4px 4px 4px;
    width: 100vw;
    height: 100vh;
}

.btn {
    background-color: #747475;
}

.btn:hover {
    background-color: #353535;
}

.btn:active {
    background-color: #494949;
}

#display {
    width: 100%;
    background-color: #1F1F1F;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: right;
    height: 5rem;
    & #display-expression {
        color: grey;
        font-weight: 400;
        font-size: 1rem;
    }
}

#calculator {
    display: flex;
    width: 100%;
    & #main {
        width: 80%;
    }
}

#keyboard-standart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;

    & .btn {
        height: 9vh;
        line-height: 9vh;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}